body {
    color: #222;
    font-family: sans-serif;
}

.contenedor-1 {
    margin: 30px;
    padding: 30px;
    background: green;
}

.contenedor-2 {
    margin: 30px;
    padding: 30px;
    background: red;
}

.contenedor-3 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    color: #444;
}